<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>839575B2196925690033B974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839575C6196925690033B974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839576481969275D0033B974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839576521969275D0033B974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
